body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

#game-container {
    text-align: center;
}

#board {
    display: grid;
    /*grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));  Adjusts based on size */
    gap: 5px;
    align-content: center;
    align-self: center;
    
}

.cell {
    width: 100px;
    height: 100px;
    background-color: white;
    border: 1px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
}

.cell:hover {
    background-color: #e0e0e0;
}
